:root {
    --nsw-brand-dark: #002664;
    --nsw-brand-accent: #D7153A;
    --nsw-brand-light: #CBEDFD;
    --nsw-brand-supplementary: #146CFD;
}

body {
    font-family: 'Public Sans', sans-serif;
}

.nsw-brand-dark {
    color: #fff !important;
    background-color: #002664 !important
}

.nsw-brand-accent,
.nsw-brand-accent-hover:hover {
    color: #fff !important;
    background-color: #D7153A !important
}

#page-container {
    max-width: 1400px;
}

.detection-card {
    background-color: white;
    padding: 16px 0px;
}

.summary-visualisation-container {
    height: 400px;
}

.summary-map {
    height: 100%;
}

.summary-table {
    display: none;
    height: 100%;
}

.latest-table-selectors {
    display: flex;
    flex-direction: row;
}

.summary-table-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.summary-table-container {
    height: 100%;
    font-size: 12px;
}

.summary-table-container > div {
    overflow-x: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .latest-table-selectors {
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .latest-table-selectors {
        flex-direction: row;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}



